/* @media only screen and (max-width:900px){.section{padding: 10rem 0;}

.section.RENT{background-color: beige;}
.rent-center {display: flex;
grid-template-columns:repeat(auto
,minmax(25rem,1fr));gap: 4rem 2rem;}

.title{text-align: center; margin-bottom: 5rem;padding: 1rem;}
.title h1{font-weight: 100;font-size: 6rem;margin-bottom: 1rem;}
.rent .box{transition: all 300ms ease-in-out;background-color: ghostwhite;}
.rent .box:hover{box-shadow: 0 5px 5px rgba(0,0,0,0.6);}
.rent .box.top{padding: 1rem;position: relative;height: 20rem; transition:  all 300ms ease-in-out;}
.rent .box .box:hover .top{cursor: pointer;}
.rent.box.top img{height: 100%; object-fit: cover;}
.rent .box .overlay{position: absolute;top: 0;left: 0;padding: 1rem;background-color: white; height: 20rem;width: 100%;}
.rent .box .overlay ::after{content: "";position: absolute;top: 0;left: 0;background-color: gold; opacity: 0.2;height: 100%;width: 100%;visibility: hidden;transition: all 300ms ease-in-out;}
.rent .box.top :hover .overlay ::after{opacity: 1;visibility: visible;}



.service-box{width: 100%;
    display: flex;
    flex-wrap: wrap;justify-content: space-around;margin: auto;}
    
    
    
    
    .website-desgin{flex-basis: 200%;text-align: center;border-radius: 8px;margin-bottom: 20px;position: relative;}
    
    .website-desgin img{ border-radius: 8px;width: 80%;  background: linear-gradient(rgba(0.0.0.0.5)red);filter:opacity(100%);transition:2s ; grid-auto-flow: row;}
    
    
    
    .overlay{width: 80%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px; background: -webkit-repeating-linear-gradient();
    opacity: 5;
    }

    #menubtn{background: #fff; background-color: #fff;
        width: 50px;
        height: 50px;
        text-align: center;position: fixed;
        right: 30px;
        top: 20px;
        border-radius: 3px;
        z-index: 3;
        cursor: pointer;}
        
        .website-desgin:hover img{opacity: 20%;}


        #menubtn img{width: 20px; margin-top: 15px;}
        
        
        .service-description{width: 80%;
        position: absolute;
        bottom: 40%;
        left: 50%;
        transform: translateX( -50%);}
        
        
        .service-description:hover {transition: 2s;} .content{position: absolute;top: 50%;left: 50%; transform: translate(-50%,-50%);width: 50%;z-index: 1;text-align:center ;margin-top: 6px;}

        .content h1{font-size: 40px; font-weight: 50px;color: white; margin-bottom: -60px;}
        
        .content .search{width: 2rem;margin: 0 auto; padding: 1px 2px;background-color: rgba(0,0,0,0.6) ;display: flex;align-items: center;justify-content: center; }
        
        
        .content .search input{width: 10px;text-indent: 1rem;outline: none;border: none;}
        
        
        
        .content .search a{display:inline-block background-color: forestgreen;color: white;border-radius: 0.5rem;}

        } */

        @media only screen and (max-width: 1000px)
 { html, body{height: 10px;
    width: 1100px;

    margin: 0;
    font-family: var(--bs-body-font-family);

box-sizing: border-box;



}
.content h1{font-size: 40px; font-weight: 50px;color: white; margin-bottom: 100px; padding-left: 400px; display: grid; font-size: 50px; color: white;}

.content {box-sizing: 6px;width:20px ;margin-left:-60px; padding-bottom: 600px;}
.search{width:20px px;align-items: center; margin-left: 100%; padding-top: 1000px;}
.carousel-inner{display:block;}
h1{text-decoration: none;font-size: 20px;text-align: center;text-indent: 0%;display: grid;}

input{width: -300px;}
}

